{
    "tg": {
        "Token": "1234567890:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"   
    }, 
    "irc": {
        "Server": "chat.freenode.net",
        "Port": "6667",
        "Nick": "changeme",
        "Pass": "changeme",
        "Name": "Full Name",
        "Channel": "#bot-test-chan",
        "Bot": "Beholder"   
    }
}
