{
    "config": {
        "watch_players": [
            "wvc",
        ]
    },
    "telegram": {
        "token": "1234567890:ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghi",
        "admins": [00000000],
        "forward_chat": -1001234567890
    },
    "irc": {
        "server": "irc.libera.chat",
        "port": 6667,
        "nick": "bot_nickname",
        "pass": "bot_pass",
        "name": "Bot Username",
        "bots": ["Pinoclone", "Beholder"]
    }
}
